node_modules/
.next/
dist/
apps/api/public/**/*
!apps/api/public/.gitkeep
apps/api/public/index.js.map
apps/api/api/index.js
apps/api/api/index.js.map
apps/api/src/**/*.js
apps/api/src/**/*.js.map
.env
.env.local
*.log
.DS_Store
coverage/
.vercel
.turbo
.env*
